<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <img src="https://api.zdravstvo.gov.mk/assets/2.35.15/app/images/Symbol.png" alt="">
  <div>
    <span>СЕРТИФИКАТ ЗА COVID</span>
    <span>IMAM VAKCINA ZIIMI TEBEE</span>
  </div>
</body>

</html>